@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua&display=swap');

body {
    background: #fffaf5;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;

}

::-webkit-scrollbar {
    display: none;
}

.text-brown {
    color: #3f231d;
}

.bg-brown {
    background: #3f231d;
}

.bg-grey-dark {
    background: #171717;
}

.bg-brown-light2 {
    background: #edd8d2;
}

.bg-brown-light {
    background: #fffaf5;
}

.bg-grey2 {
    background: #444444;
}


.ff-1 {
    font-family: 'Inknut Antiqua', serif;
}

.hero-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    padding: 5px 0;
    border: solid 1px #CA9E79;
    background: #CA9E79;
    width: 180px;
    padding: 5px;
    cursor: pointer;

    * {
        padding: 0;
        margin: 0;

    }

    p {
        margin-left: 20px;
        font-weight: 600;
    }

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fff;
        border-radius: 50%;
        font-size: 1px;
        height: 30px;
        width: 30px;
    }

}

.btn-brown {
    background: #3f231d;
    &:hover {
        background: #3f231d;
        opacity: 0.9;
    }
}

.mt-100 {
    margin-top: 100px;
}

.modal {
    background: #0000008a;
}

a {
    text-decoration: none;
}